@tailwind base;
@tailwind components;
@tailwind utilities;

.headings-font {
  font-family: "Factor A", Arial, Helvetica, sans-serif;
}

.para-font {
  font-family: Inter, sans-serif;
}
.background {
  background-image: url("C:\Users\laksh\OneDrive\Documents\SharpenerProjects\ReactJs\MyMoney\frontend\src\assets\background.png");
}
.brand-color {
  color: #008275;
}

.brand-bg-color {
  background-color: #00bc90;
}
.button-normal {
  background-color: #00bc90;
}

.button-normal:hover {
  background-color: #007c65;
}

.button-outline:hover {
  color: #007c65;
  border-color: #007c65;
}

.card {
  border: #00bc90 solid 2px;
  border-radius: 10px;
}
.bottom-shadow {
  box-shadow: rgba(21, 22, 24, 0.1) 0px 3px 30px;
}
.modal {
  animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
